In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('world_countries.txt')

In [3]:
df

,country,region,population,area,coastline,net migration,GDP,literacy,phones_per_1000,birthrate,deathrate,agriculture,industry,service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,0,"23,06",700.0,36,"3,2","46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"1,26","-4,93",4500.0,"86,5","71,2","15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"0,04","-0,39",6000.0,70,"78,1","17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"58,29","-20,71",8000.0,97,"259,5","22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,0,"6,6",19000.0,100,"497,2","8,71","6,25",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,0,"2,98",800.0,NaN,"145,2","31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NORTHERN AFRICA,273008,266000,"0,42",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"0,4"
224,Yemen,NEAR EAST,21456188,527970,"0,36",0,800.0,"50,2","37,2","42,89","8,3","0,135","0,472","0,393"
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,0,0,800.0,"80,6","8,2",41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,0,0,1900.0,"90,7","26,8","28,01","21,84","0,179","0,243","0,579"

In [4]:
df['population_density'] = df['population'] / df['area']

In [5]:
# Страна с максимальной плотностью населения
max_density_country = df.loc[df['population_density'] == df['population_density'].max()]
max_density_country

,country,region,population,area,coastline,net migration,GDP,literacy,phones_per_1000,birthrate,deathrate,agriculture,industry,service,population_density
138,Monaco,WESTERN EUROPE,32543,2,205,"7,75",27000.0,99,"1035,6","9,19","12,91","0,17",NaN,NaN,16271.5

In [6]:
# Страна с минимальной плотностью населения
min_density_country = df.loc[df['population_density'] == df['population_density'].min()]
min_density_country

,country,region,population,area,coastline,net migration,GDP,literacy,phones_per_1000,birthrate,deathrate,agriculture,industry,service,population_density
80,Greenland,NORTHERN AMERICA,56361,2166086,"2,04","-8,37",20000.0,NaN,"448,9","15,93","7,84",NaN,NaN,NaN,0.02602

In [7]:
df.dtypes

country                object
region                 object
population              int64
area                    int64
coastline              object
net migration          object
GDP                   float64
literacy               object
phones_per_1000        object
birthrate              object
deathrate              object
agriculture            object
industry               object
service                object
population_density    float64
dtype: object

In [8]:
# Число стран без береговой линии
df['coastline'] = df['coastline'].str.replace(',', '').astype(float)
df['coastline'] = pd.to_numeric(df['coastline'], errors='coerce')
wo_coastline_mask = (df['coastline'] == 0)
# countries_wo_coastline = len(df[wo_coastline_mask])
countries_wo_coastline = len(df[wo_coastline_mask])
f'Количество стран без береговой линии = {countries_wo_coastline}, отношение стран без береговой линии к общему количеству стран = {countries_wo_coastline / len(df)}'

'Количество стран без береговой линии = 44, отношение стран без береговой линии к общему количеству стран = 0.19383259911894274'

In [9]:
df['phones_per_1000'] = df['phones_per_1000'].str.replace(',', '').astype(float)
df['region'] = df['region'].str.strip()

regions_by_phones_per_1000 = df.groupby(['region'])['phones_per_1000'].sum()
f'Регион, где суммарно меньше всего людей владеют телефонами {regions_by_phones_per_1000.idxmin()}'

'Регион, где суммарно меньше всего людей владеют телефонами NORTHERN AFRICA'

In [10]:
# Страны у которых отстутсвует показатель грамотности, и при этом численность населения страны более 1млн человек
df['literacy'] = df['literacy'].str.replace(',', '').astype(float)
df['literacy'] = pd.to_numeric(df['literacy'], errors='coerce')

In [11]:
not_literacy_mask = (df['literacy'].isnull()) & (df['population'] > 1e6)
countries_wo_literacy = df[not_literacy_mask]
countries = [country.strip() for country in countries_wo_literacy["country"].tolist()]
f'Страны, у которых отсутствует показатель грамотности, и при этом численность населения страны более 1млн человек: {", ".join(countries)}'

'Страны, у которых отсутствует показатель грамотности, и при этом численность населения страны более 1млн человек: Bosnia & Herzegovina, Gaza Strip, Macedonia, Slovakia, West Bank'

In [12]:
# Топ 5 стран, с самым низким показателем рождаемости по отношению к показателю смертности
df['birthrate'] = df['birthrate'].str.replace(',', '').astype(float)
df['deathrate'] = df['deathrate'].str.replace(',', '').astype(float)
df['birthrate/deathrate'] = df['birthrate'] / df['deathrate']
df.nsmallest(5, ['birthrate/deathrate'])

,country,region,population,area,coastline,net migration,GDP,literacy,phones_per_1000,birthrate,deathrate,agriculture,industry,service,population_density,birthrate/deathrate
106,Kazakhstan,C.W. OF IND. STATES,15233244,2717300,0.0,"-3,35",6300.0,984.0,1641.0,16.0,942.0,"0,067","0,386","0,547",5.606022,0.016985
110,"Korea, South",ASIA (EX. NEAR EAST),48846823,98480,245.0,0,17800.0,979.0,4861.0,10.0,585.0,"0,033","0,403","0,563",496.007545,0.017094
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,0.0,0,800.0,806.0,82.0,41.0,1993.0,"0,22","0,29","0,489",15.282748,0.020572
96,Iran,ASIA (EX. NEAR EAST),68688433,1648000,15.0,"-0,84",7000.0,794.0,2764.0,17.0,555.0,"0,116","0,424","0,46",41.679874,0.030631
168,Romania,EASTERN EUROPE,22303552,237500,9.0,"-0,13",7000.0,984.0,1969.0,107.0,1177.0,"0,101","0,35","0,549",93.909693,0.090909

In [13]:
# Страны, в которых преобладает сельское хозяйство (agriculture) над промышленностью (industry) и сферой обслуживания (service) и при этом средний показатель миграции (net migration) по региону положительный
df['net migration'] = df['net migration'].str.replace(',', '').astype(float)
df['agriculture'] = df['agriculture'].str.replace(',', '').astype(float)
df['industry'] = df['industry'].str.replace(',', '').astype(float)
df['service'] = df['service'].str.replace(',', '').astype(float)

In [14]:
# regions_positive_net_migration = df.groupby(['region'])['net migration'].mean()
regions_positive_net_migration = df.groupby('region')['net migration'].aggregate('mean')
positive_net_migration_regions_mask = [i for i in regions_positive_net_migration[regions_positive_net_migration > 0].keys()]

# regions_positive_net_migration.apply(lambda df: df[df['net migration'] > 0])
agriculture_prefer_mask = (df['agriculture'] > df['industry']) & (df['agriculture'] > df['service']) & (df['region'].isin(positive_net_migration_regions_mask))

countries = ", ".join(i.strip() for i in df[agriculture_prefer_mask]["country"].tolist())
f'Страны, в которых преобладает сельское хозяйство над промышленностью и сферой обслуживания и при этом средний показатель миграции по региону положительный {countries}'

'Страны, в которых преобладает сельское хозяйство над промышленностью и сферой обслуживания и при этом средний показатель миграции по региону положительный Burma, Laos'